<div class="sidebar">
  <div class="sidebar-item" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <i class="icon-home"></i>
    <span>Mis Ligas</span>
  </div>
  <div class="sidebar-item" [routerLink]="['/clasificacion']" routerLinkActive="active">
    <i class="icon-classification"></i>
    <span>Clasificación</span>
  </div>
  <div class="sidebar-item" [routerLink]="['/mercado']" routerLinkActive="active">
    <i class="icon-market"></i>
    <span>Mercado</span>
  </div>
  <div class="sidebar-item" [routerLink]="['/mas']" routerLinkActive="active">
    <i class="icon-more"></i>
    <span>Más</span>
  </div>
</div>
